<h1>Complete Los Campos</h1>
<div class="grid p-fluid">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Nombre Completo">
        </div>
    </div>

    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
            <input type="text" pInputText placeholder="Correo Electronico">

        </div>
    </div>

    <div class="col-12 md:col-4">
        <div class="p-inputgroup">

            <span class="p-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Nº Documento">
        </div>
    </div>

</div>




<div class="grid">
  <div class="col"><div class="grid">
    <div class="col-12">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Apellido">

        </div>
    </div>
</div></div>
  <div class="col"> <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-unlock" style="line-height: 1.25;"></i></span>
    <input type="text" pInputText placeholder="Contraseña">

</div></div>
  <div class="col"> <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-calendar" style="line-height: 1.25;"></i></span>
      <input type="text" pInputText placeholder="Fecha De Nacimiento "/>
  </div></div>
</div>

<div class="grid p-fluid">
  <div class="col-12 md:col-4">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi  pi-phone"></i></span>
          <input type="text" pInputText placeholder="Telefono">
      </div>
  </div>

  <div class="col-12 md:col-4">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-unlock"></i></span>
          <input type="text" pInputText placeholder="Reescribir Contraseña">

      </div>
  </div>

  <div class="col-12 md:col-4">
      <div class="p-inputgroup">

          <span class="p-inputgroup-addon"><i class="pi pi-wallet" style="line-height: 1.25;"></i></span>
          <input type="text" pInputText placeholder="Cuil">
      </div>
  </div>

</div>


<h1>Envios</h1>
<div class="grid">
  <div class="col"> <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-map-marker" style="line-height: 1.25;"></i></span>
      <input type="text" pInputText placeholder="Pais"/>
  </div></div>
  <div class="col"><div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-map" style="line-height: 1.25;"></i></span>
      <input type="text" pInputText placeholder="Cuidad,Calle,Direccion"/>
  </div></div>
  <div class="col">

    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-verified" style="line-height: 1.25;"></i></span>
          <input type="text" pInputText placeholder="codigo Postal"/>
      </div>
  </div></div>
</div>

<h1>Formas de pago</h1>
<div class="grid">
  <div class="col"><div class="col-12 md:col-4">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-euro" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="Pagar En Euros"/>
    </div>
</div></div>
  <div class="col">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-credit-card" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Nº Tarjeta">
        </div>
    </div></div>
  <div class="col">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-dollar" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Pagar En Dolar">
        </div>
    </div></div>
</div>

<p-toggleButton  onLabel="Confirmado" offLabel="Enviar" onIcon=" pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}"></p-toggleButton>






















